body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-label, .pagination {
  margin-bottom: 0;
}
.search-label {
  margin-right: 1rem;
}
.react-bootstrap-table table tr:hover {
  cursor: pointer;
}
body .table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 1px;
}